@model CashFlow.Web.Models.CompanyModel

@{
    ViewBag.Title = "Index";
}


<div class="container">

    <header class="page-header text-center">
        <h2>Empresas</h2>

        <a href="@Url.Action("CreateOrEdit", "Company")" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>
            Adicionar
        </a>
    </header>
    
    <div class="row">
        <div class="col-md-12">
            @if (Model.Companies.Count() > 0)
            {
                foreach(var company in Model.Companies)
                {
                    <div class="well well-lg">
                        <h2>@company.FantasyName</h2>
                        <h4>@company.Name</h4>
                        <span>
                            <a 
                               href="@Url.Action("Details", "Company", new { @id = company.Id })"
                               role="button" 
                               class="btn btn-primary btn-sm">
                                Gerenciar
                            </a>
                        </span>
                    </div>
                }
            }
            else
            {
                <p class="text-center" style="font-size: 24px; font-weight: bold; font-style: italic;">
                    Nenhuma empresa cadastrada ;(
                </p>
            }
        </div>
    </div>

</div>

